In [1]:
import pandas as pd

In [9]:
file1_path = "data/processed_data.csv"  # Replace with your actual file path
df1 = pd.read_csv(file1_path)

# Load the second dataset
file2_path = "data/processed_trade_data.csv"  # Replace with your actual file path
df2 = pd.read_csv(file2_path)

# Inspect the columns of both datasets
print("Columns in the first dataset:")
print(df1.columns)

print("\nColumns in the second dataset:")
print(df2.columns)

Columns in the first dataset:
Index(['Survey's country', 'Alcoholic beverages',
       'Amphibians, reptiles, and terrestrial invertebrates',
       'Animal and vegetable fats and oils and primary derivatives thereof',
       'Coffee, cocoa, tea and infusions', 'Composite dishes',
       'Eggs and egg products', 'Fish and seafood',
       'Food products for young population', 'Fruit and fruit products',
       'Fruit and vegetable juices and nectars (including concentrates)',
       'Grains and grain-based products', 'Legumes, nuts, oilseeds and spices',
       'Major isolated ingredients, additives, flavours, baking and processing aids',
       'Meat and meat products', 'Milk and dairy products',
       'Products for non-standard diets, food imitates and food supplements',
       'Seasoning, sauces and condiments',
       'Starchy roots or tubers and products thereof, sugar plants',
       'Sugar and similar, confectionery and water-based sweet desserts',
       'Vegetables and vegetable products', 'Water and water-based beverages'],
      dtype='object')

Columns in the second dataset:
Index(['Item', 'Unnamed: 1', 'Alcoholic Beverages', 'Alcoholic Beverages.1',
       'Alcoholic Beverages.2', 'Alcoholic Beverages.3',
       'Animal Fats and Oils (excl. Butter)',
       'Animal Fats and Oils (excl. Butter).1',
       'Animal Fats and Oils (excl. Butter).2',
       'Animal Fats and Oils (excl. Butter).3', 'Beverages', 'Beverages.1',
       'Beverages.2', 'Beverages.3', 'Bovine Meat', 'Bovine Meat.1',
       'Bovine Meat.2', 'Bovine Meat.3', 'Cereal preparations total',
       'Cereal preparations total.1', 'Cereal preparations total.2',
       'Cereal preparations total.3', 'Cereals', 'Cereals.1', 'Cereals.2',
       'Cereals.3', 'Dairy Products', 'Dairy Products.1', 'Dairy Products.2',
       'Dairy Products.3', 'Eggs', 'Eggs.1', 'Eggs.2', 'Eggs.3',
       'Fats and Oils (excluding Butter)',
       'Fats and Oils (excluding Butter).1', 'Fruit', 'Fruit.1', 'Fruit.2',
       'Fruit.3', 'Meat and Meat Preparations', 'Meat and Meat Preparations.1',
       'Non-alcoholic Beverages', 'Non-alcoholic Beverages.1',
       'Non-alcoholic Beverages.2', 'Non-alcoholic Beverages.3', 'Nuts',
       'Nuts.1', 'Nuts.2', 'Nuts.3', 'Oilseeds', 'Oilseeds.1', 'Oilseeds.2',
       'Oilseeds.3', 'Other Meat', 'Other Meat.1', 'Other Meat.2',
       'Other Meat.3', 'Other food', 'Other food.1', 'Other food.2',
       'Other food.3', 'Poultry Meat', 'Poultry Meat.1', 'Poultry Meat.2',
       'Poultry Meat.3', 'Pulses', 'Pulses.1', 'Pulses.2', 'Pulses.3',
       'Roots and Tubers', 'Roots and Tubers.1', 'Roots and Tubers.2',
       'Roots and Tubers.3', 'Sugar Crops Primary', 'Sugar Crops Primary.1',
       'Sugar Crops Primary.2', 'Sugar Crops Primary.3', 'Sugar and Honey',
       'Sugar and Honey.1', 'Sugar and Honey.2', 'Sugar and Honey.3',
       'Vegetable Oil and Fat', 'Vegetable Oil and Fat.1',
       'Vegetable Oil and Fat.2', 'Vegetable Oil and Fat.3', 'Vegetables',
       'Vegetables.1', 'Vegetables.2', 'Vegetables.3'],
      dtype='object')

In [5]:
df2

,Item,Unnamed: 1,Alcoholic Beverages,Alcoholic Beverages.1,Alcoholic Beverages.2,Alcoholic Beverages.3,Animal Fats and Oils (excl. Butter),Animal Fats and Oils (excl. Butter).1,Animal Fats and Oils (excl. Butter).2,Animal Fats and Oils (excl. Butter).3,...,Sugar and Honey.2,Sugar and Honey.3,Vegetable Oil and Fat,Vegetable Oil and Fat.1,Vegetable Oil and Fat.2,Vegetable Oil and Fat.3,Vegetables,Vegetables.1,Vegetables.2,Vegetables.3
0,Element,NaN,Export quantity,Export value,Import quantity,Import value,Export quantity,Export value,Import quantity,Import value,...,Import quantity,Import value,Export quantity,Export value,Import quantity,Import value,Export quantity,Export value,Import quantity,Import value
1,Year,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Albania,26.0,35.0,33354.0,12533.0,0.0,0.0,2026.0,726.0,...,59993.0,15406.0,39.0,45.0,35803.0,20150.0,789.0,514.0,21762.0,6589.0
3,2000,Austria,90143.94,77874.5,128485.54,207982.98,40900.0,7053.97,17564.0,10439.57,...,346655.0,144864.15,60547.0,31219.85,106204.0,68150.16,138774.0,82134.06,327111.2,307966.59
4,2000,Belarus,57176.81,29353.16,29365.93,41766.63,0.0,0.0,7525.0,5085.0,...,515674.0,128514.0,11041.0,8799.6,91570.0,70298.0,39305.0,23043.19,34685.0,21258.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,2023,Spain,2781001.59,4724103.85,877694.66,1999216.03,265433.92,500480.5,130085.85,180391.02,...,2063890.19,1895987.82,1761516.9,6499511.23,3000174.19,4558759.01,6860335.85,12177130.88,1705646.64,2678082.38
952,2023,Sweden,267489.67,699991.35,391660.29,1270817.05,165773.37,400114.3,42158.34,94997.02,...,217622.95,573929.79,147668.24,362755.04,655655.32,992288.74,72681.28,219295.69,644367.39,1287271.24
953,2023,Switzerland,5991.15,126902.83,294902.31,1753383.81,10813.48,64266.73,14587.79,36736.04,...,217289.9,416452.8,2376.16,8184.11,131409.69,430363.24,6254.56,31844.45,404387.87,1193296.08
954,2023,Ukraine,115735.45,103607.6,232922.0,606446.77,12307.67,28104.24,39219.78,75057.89,...,28190.77,99173.59,6422791.71,5583485.81,129787.67,195921.22,28084.55,52334.68,386828.17,517453.37
955,2023,United Kingdom of Great Britain and Northern I...,1531012.85,9758392.16,2572362.02,7223614.87,70904.85,111934.93,81819.98,194596.63,...,2132572.15,2424819.45,192297.67,358944.5,1198091.54,2121358.34,216443.35,481962.32,3690455.11,6697982.74

In [7]:
# Filter specific columns from the second dataset
filtered_df = df2[['Fruit and Vegetables', 'Fruit and Vegetables.1']]

# Display the filtered DataFrame
filtered_df

    Fruit and Vegetables Fruit and Vegetables.1
0           Export value           Import value
1                    NaN                    NaN
2                 2003.0                43129.0
3              511125.02             1019300.97
4               52702.69               97138.18
..                   ...                    ...
951           24964420.9             8994302.49
952            458037.39             2940503.45
953            103774.05             3192976.59
954            570759.38             1423265.03
955           1200950.52            16556890.33

[956 rows x 2 columns]

In [8]:
# Specify the columns you want to filter
columns_to_filter = [
    'Cereal preparations total', 'Cereal preparations total.1',
    'Cereal preparations total.2', 'Cereal preparations total.3',
    'Cereals', 'Cereals.1', 'Cereals.2', 'Cereals.3',
    'Cereals and Preparations', 'Cereals and Preparations.1'
]

# Filter the specified columns from the second dataset
filtered_df = df2[columns_to_filter]

# Display the filtered DataFrame
filtered_df

,Cereal preparations total,Cereal preparations total.1,Cereal preparations total.2,Cereal preparations total.3,Cereals,Cereals.1,Cereals.2,Cereals.3,Cereals and Preparations,Cereals and Preparations.1
0,Export quantity,Export value,Import quantity,Import value,Export quantity,Export value,Import quantity,Import value,Export value,Import value
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200.0,292.0,152622.0,41236.0,9.25,9.0,244927.25,26963.0,301.0,68199.0
3,170497.0,221194.6,265444.0,325952.64,944350.1,149820.58,399973.35,89473.76,371015.18,415426.4
4,75176.19,22810.2,114530.78,40921.48,3682.65,1050.0,2057836.24,252339.89,23860.2,293261.37
...,...,...,...,...,...,...,...,...,...,...
951,1700421.69,3484799.65,1284383.76,2247424.36,570643.5,471383.33,23195867.79,6894293.42,3956182.98,9141717.77
952,406916.17,966388.63,447163.13,1250209.39,902283.37,290990.53,315525.8,214282.76,1257379.16,1464492.15
953,173236.1,886198.19,408411.41,1288111.08,3140.73,6235.7,755808.72,382716.43,892433.88,1670827.51
954,399500.19,381923.26,103747.79,268881.18,44817547.56,8306027.91,127866.61,119172.86,8687951.17,388054.04
955,1101797.95,3059537.98,2111227.26,6588087.03,2472429.12,808977.88,4736661.84,2163931.38,3868515.86,8752018.41

In [ ]:
# Display all column names in the DataFrame
print(df_pivot_trade.columns.tolist(

    # Define the categories to drop
categories_to_drop = ['Dairy Products and Eggs', 'Cereals and Preparations', 'Fruit and Vegetables']

# Filter out the columns where the first level matches any of the specified categories
df_pivot_trade = df_pivot_trade[[col for col in df_pivot_trade.columns if col[0] not in categories_to_drop]]

# Display the updated DataFrame
df_pivot_trade.head()